@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model NewUserDto
@{
    <h2>User Details</h2>

    <div>
        <p><strong>Name:</strong> @Model.Username</p>
        <p><strong>Role:</strong> @Model.Role</p>
        @if (!string.IsNullOrEmpty(Model.Token))
        {
            <p><strong>Token:</strong> @Model.Token</p>
        }
    </div>
}






